@model IEnumerable<Web_EAMSystem.Models.AssetInfo>

@{
    ViewData["Title"] = "單位資料清單";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>單位資料維護</h2>
    <a asp-action="AssetCreate" class="btn btn-success"> + 新增單位資料</a>
</div>
